.app {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "header"
                       "content";
}

.header {
  grid-area: header;
  border-bottom: 5px solid #FFC62F;
  text-align: center;
  color: #FFC62F;
  background: #4F2683;
}

.header > h1 {
  font-size: 4em;
}

.game-board {
  grid-area: content;
  margin: 0 auto 10px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 184px);
  text-align: center;
}

.card {
  height: 138px;
}

.card-front {
  background: #4F2683;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding: 5px;
}

.card-front__image {
  width: 50px;
  margin: 0 auto;
}

.card-front__text {
  margin: 0;
  color: #FFC62F;
  font-size: 40px;
}

.card-front__name {
  font-size: 27px;
}

.card-back {
  width: 100%;
  height: 100%;
  background: #4F2683;
  display: flex;
  justify-content: center;
}

.card-back__image {
  width: 100px;
}
